.about {
	position: relative;
	z-index: 1;
	background: #0e2439;
	padding-top: 150px;
	padding-bottom: 132px;
	@media screen and (max-width: 992px) {
		padding-top: 60px;
		padding-bottom: 270px;
	}
	@media screen and (max-width: 768px) {
		padding-bottom: 180px;
	}

	&::before {
		content: '“';
		position: absolute;
		z-index: 1;
		bottom: -60px;
		left: 0;
		width: 350px;
		height: 322px;
		font-family: var(--font-family);
		font-weight: 700;
		font-size: 700px;
		color: #fff;
		line-height: 1;
		@media screen and (max-width: 768px) {
			width: 200px;
			font-size: 500px;
			bottom: -140px;
		}
	}

	&__container {
		display: grid;
		grid-template-columns: 235px 1fr;
		gap: 80px;
		@media screen and (max-width: 992px) {
			gap: 40px;
			grid-template-columns: 1fr;
		}
	}

	&__title {
		display: flex;
		flex-direction: column;
		font-family: var(--font-family);
		font-weight: 700;
		font-size: 20px;
		color: var(--white);
		span {
			font-weight: 300;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	&__text {
		font-family: var(--font-family);
		font-weight: 300;
		font-size: 20px;
		line-height: 1.5;
		color: var(--white);
		&::first-letter {
			padding-left: 27px;
		}
		@media screen and (max-width: 768px) {
			font-size: 18px;
		}
	}
}
