<section class="about" id="about">
	<div class="about__container container">
		<h2 class="about__title">
			О проекте
			<span>«Лекарство для души» </span>
		</h2>
		<div class="about__info">
			<p class="about__text">
				В 2024 году мы будем отмечать 90-летие со дня рождения Юрия Визбора –
				исполнителя песен, поэта, киноактёра, писателя, журналиста,
				киносценариста, кинодокументалиста, драматурга и художника. Какое
				счастье, что нам остались богатое творческое наследие, светлые и добрые
				песни, простые слова, идущие от сердца к сердцу. Проект «Лекарство для
				души» осветит все грани личности Визбора, как человека спорта,
				альпиниста, горнолыжника, кинематографиста, художника, поэта.
				<br />
				Проект реализуется Студией «ВИБ-Фильм» при поддержке Президентского
				фонда культурных инициатив. 
			</p>
			<p class="about__text">
				Проект «Лекарство для души» - многоцелевой.  Пройдут съемки
				документального фильма «Улыбка Визбора», посвящённого феномену
				популярности песен Юрия Визбора в наши дни. По утверждению организаторов
				Грушинского фестиваля, собирающего до 300 000 участников, Юрий Визбор, и
				сегодня самый исполняемый автор среди поклонников авторской песни. В
				съемках картины примут участие: киноактёр и режиссёр Никита Михалков (он
				снимался с Визбором в фильме «Красная палатка»); Олег Митяев – советский
				и российский автор-исполнитель, музыкант, актёр, член Союза писателей
				России, народный артист Российской Федерации; Андрей Шемякин –
				кинокритик, Вице-Президент Гильдии киноведов и кинокритиков.  В рамках
				проекта пройдут творческие встречи с участниками фильма и викторины по
				творчеству Визбора на детско-юношеском фестивале памяти Юрия Иосифовича
				«Распахнутые ветра» на Селигере. Для ребят из «Детской республики
				Поленово» в Тульской области, и для всех поклонников творчества нашего
				героя, пройдут мероприятия в день рождения Визбора 20 июня во дворе на
				Сретенке, где прошло его детство. Так же в «Детской республике
				Поленово», помимо викторины мы проведём музыкальную кинолабораторию
				«Юрий Визбор. Судьба и песни», видео-лекцию «Юрий Визбор. Судьба и
				песни», вечер песен Визбора у костра. 
			</p>
			<p class="about__text">
				Будет издана книга Юрий Визбор. «В сопровождении отваги». Она расскажет
				о нем как человеке спорта. Мало кто знает, что Визбор прилично играл в
				футбол, волейбол, катался на горных и водных лыжах, ходил в байдарочные
				походы. Вместе с альпинистами московского «Спартака» под началом
				легендарного «снежного барса» Владимира Кавуненко, был участником многих
				восхождений, во время которых написал свои лучшие песни о людях гор –
				альпинистах, горнолыжниках, спасателях. «Творчество Визбора – это гимн
				борющемуся и побеждающему человеку», – лучше, чем Владимир Кавуненко и
				не скажешь. О том, как рождались стихи и песни, повести и фильмы
				Владимира Иосифовича, в нашей книге вспомнят его друзья и коллеги. С тех
				пор, как в июле 1959 г. в журнале «Физкультура и спорт», впервые
				появилось фото Ю. Визбора, он часто публиковался в журнале, а уже после
				его смерти печатались его стихи, рассказы, воспоминания тех, кто был
				рядом с ним, в спорте и в жизни. Все эти материалы, войдут в книгу,
				составителем которой станет главный редактор журнала «ФиС» Евгений
				Богатырёв.
			</p>
		</div>
	</div>
</section>
