<section class="news" id="news">
	<div class="news__container container">
		<div class="news__inner">
			<h2 class="news__title">Новости</h2>
			<div class="news__content">
				<div class="news-card">
					<div class="news-card__img-wrapper">
						<img
							width="427"
							height="240"
							src="./assets/img/news1.jpg"
							alt="Юрий визбора улыбается на сцене с гитарой в руках"
							class="news-card__img"
						/>
					</div>
					<div class="news-card__content">
						<p class="news-card__data">
							<span>18 марта 2024 в 19:00</span>
							Дом Кино, Белый зал (ул. Васильевская, 13) 
						</p>
						<h3 class="news-card__title">
							«НАПОЛНИМ МУЗЫКОЙ СЕРДЦА»
							<span>
								к 90-летию со дня рождения киноактера, барда, журналиста,
								писателя, сценариста ЮРИЯ ВИЗБОРА «НАПОЛНИМ МУЗЫКОЙ СЕРДЦА»
							</span>
						</h3>
					</div>
				</div>
				<!--  -->
				<div class="news-card news-card_reverse">
					<div class="news-card__img-wrapper">
						<img
							width="427"
							height="240"
							src="./assets/img/news2.jpg"
							alt="Юрий визбора, ему около 40 лет, грустный"
							class="news-card__img"
						/>
					</div>
					<div class="news-card__content">
						<p class="news-card__data">
							<span>18 марта 2024 в 19:00</span>
							Дом Кино, Белый зал (ул. Васильевская, 13) 
						</p>
						<h3 class="news-card__title">
							«НАПОЛНИМ МУЗЫКОЙ СЕРДЦА»
							<span>
								к 90-летию со дня рождения киноактера, барда, журналиста,
								писателя, сценариста ЮРИЯ ВИЗБОРА «НАПОЛНИМ МУЗЫКОЙ СЕРДЦА»
							</span>
						</h3>
					</div>
				</div>
			</div>
		</div>
		<button class="news__btn btn-reset">Показать больше</button>
	</div>
</section>
