<section class="history">
	<div class="history__container container">
		<h2 class="history__title">18 марта 2024 в 19:00</h2>
		<div class="history__content">
			<div class="history__wrap">
				<p class="history__text">Дом Кино, Белый зал (ул. Васильевская, 13)</p>
				<a
					target="_blank"
					href="https://gorodzovet.ru/moskva/napolnim-muzykoi-serdtsa-event10136541"
					class="history__link"
					>https://gorodzovet.ru/moskva/napolnim-muzykoi-serdtsa-event10136541</a
				>
			</div>
			<p class="history__text">
				к 90-летию со дня рождения киноактера, барда, журналиста,
				писателя, сценариста  ЮРИЯ ВИЗБОРА
				<br />
				(1934-1984)
				<br />
				Музыкальное посвящение актеров театра и кино, друзей, коллег.
			</p>
			<p class="history__text">
				Художественный фильм
				<br />
				ЗАВТРАК С ВИДОМ НА ЭЛЬБРУС
				<br />
				Россия, 1993, 75 мин.
				<br />
				Режиссер Николай Малецкий
			</p>
			<p class="history__text">
				Представляют: народный артист России Игорь Костолевский, актрисы театра
				и кино Вера Сотникова и Вера Каншина, руководитель группы каскадеров
				Виктор Данилин, сценарист Евгений Богатырев
			</p>
		</div>
	</div>
</section>
