<section class="film" id="film">
	<div class="film__container container">
		<div class="film__header">
			<h2 class="film__title">Фильмография</h2>
			<p class="film__text">Трейлер фильма "Улыбка Визбора"</p>
		</div>
		<div class="film__video-container">
			<video class="film__video" poster="./assets/img/poster.jpg">
				<source src="my-video.mp4" type="video/mp4" />
			</video>
			<button class="film__btn btn-reset">
				<svg class="film__btn-icon">
					<use href="./assets/img/svg/sprite.svg#play-icon"></use>
				</svg>
			</button>
		</div>
	</div>
</section>
