<header class="header">
	<div class="header__container container">
		<img
			width="170"
			height="49"
			src="./assets/img/svg/logo.svg"
			alt="буква к окрашенная на синий и красный цвет, президентский фонд культурных инициатив"
			class="header__logo"
		/>
		<img
			width="183"
			height="38"
			src="./assets/img/logo-2.png"
			alt="Киносъёмочный аппарат, виб-фильм"
			class="header__logo-secondary"
		/>
		<!--  -->
		<nav class="header__nav">
			<ul class="menu list-reset">
				<li>
					<a href="#" class="menu__link menu__link_current">
						<span class="menu__link-order">01</span>
						<span class="menu__link-text">О проекте</span>
					</a>
				</li>
				<li>
					<a href="#" class="menu__link">
						<span class="menu__link-order">02</span>
						<span class="menu__link-text">Новости</span>
					</a>
				</li>
				<li>
					<a href="#" class="menu__link">
						<span class="menu__link-order">03</span>
						<span class="menu__link-text">Фильмография</span>
					</a>
				</li>
				<li>
					<a href="#" class="menu__link">
						<span class="menu__link-order">04</span>
						<span class="menu__link-text">Наши партнеры</span>
					</a>
				</li>
				<li>
					<a href="#" class="menu__link">
						<span class="menu__link-order">05</span>
						<span class="menu__link-text">Контакты</span>
					</a>
				</li>
			</ul>
		</nav>
		<!--  -->
		<button class="burger header__burger btn-reset">
			<span></span>
		</button>
	</div>
</header>
