<section class="partners">
	<div class="partners__container container">
		<h2 class="partners__title">Партнёры</h2>
		<div class="partners__items">
			<img
				width="170"
				height="49"
				src="./assets/img/svg/logo.svg"
				class="partners__img"
			/>
			<img
				width="92"
				height="91"
				src="./assets/img/partners2.png"
				class="partners__img"
			/>
			<img
				width="88"
				height="96"
				src="./assets/img/partners3.png"
				class="partners__img"
			/>
			<img
				width="151"
				height="108"
				src="./assets/img/partners4.png"
				class="partners__img"
			/>
			<img
				width="266"
				height="39"
				src="./assets/img/partners5.png"
				class="partners__img"
			/>
			<img
				width="131"
				height="72"
				src="./assets/img/partners6.png"
				class="partners__img"
			/>
		</div>
	</div>
</section>
