.hero {
	@media screen and (max-width: 992px) {
	}
	&__img-1 {
		position: absolute;
		top: 10px;
		left: -70px;
		width: 1330px;
		height: calc(100% + 250px);
		@media screen and (max-width: 992px) {
			width: 550px;
			left: auto;
			right: 0;
			height: 100%;
		}
		@media screen and (max-width: 768px) {
			display: none;
		}
	}
	&__img-2 {
		position: absolute;
		z-index: 1;
		top: 25px;
		left: 80px;
		width: 1330px;
		height: calc(100% + 250px);
		@media screen and (max-width: 992px) {
			width: 550px;
			left: auto;
			right: 0;
			height: 100%;
		}
		@media screen and (max-width: 768px) {
			position: relative;
			left: auto;
			top: auto;
			width: 100%;
			height: auto;
		}
	}
	&__container {
		position: relative;
		min-height: 840px;
		@media screen and (max-width: 992px) {
			min-height: 100px;
		}
		@media screen and (max-width: 768px) {
			display: flex;
			flex-direction: column;
			gap: 50px;
			align-items: flex-start;
		}
	}

	&__content {
		position: relative;
		z-index: 1;
		padding-top: 190px;
		padding-left: 140px;
		@media screen and (max-width: 992px) {
			padding-left: 50px;
			padding-top: 60px;
		}
		@media screen and (max-width: 400px) {
			padding-left: 0;
			padding-top: 20px;
		}
	}

	&__top-text {
		font-family: var(--third-family);
		font-style: italic;
		font-weight: 400;
		font-size: 48px;
		letter-spacing: 0.02em;
		color: var(--gray);
		span {
			font-size: 24px;
		}
		@media screen and (max-width: 992px) {
			font-size: 32px;
		}
	}

	&__title {
		font-family: var(--third-family);
		font-weight: 700;
		font-size: 64px;
		letter-spacing: 0.02em;
		color: var(--primary);
		@media screen and (max-width: 992px) {
			font-size: 37px;
		}
	}

	&__scroll {
		position: absolute;
		z-index: 2;
		left: 30px;
		bottom: 25px;
		@media screen and (max-width: 992px) {
			width: 15px;
			position: relative;
			left: 0;
			margin-top: 30px;
		}
		@media screen and (max-width: 768px) {
			display: none;
		}
	}
}
.container {
}
