:root {
	--font-family: 'Montserrat', sans-serif;
	--second-family: 'DM Sans', sans-serif;
	--third-family: 'Playfair Display', sans-serif;

	--white: #fff;
	--black: #000;
	--gray: #9ca3af;
	--primary: #111827;
}
